<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="bookmark" href="favicon.ico" />
    <link rel="stylesheet" href="http://gui.avepoint.net/prometheus3/dist/gui/auiframework.css">
    <script src="http://gui.avepoint.net/prometheus3/dist/gui/auiframework.js"></script>
    <script src="http://gui.avepoint.net/react-component/build/aui.react.js"></script>
    <title>Docave</title>
  </head>
  <body>
    <div id="root"></div>
  
  </body>
</html>
